---
interface Props {
    name: string;
    svgIcon: string;
}

const { svgIcon, name } = Astro.props;
---

<div class="flex items-center gap-3 group">
    <div
        class="p-2 bg-cyber-cyan/10 rounded-lg group-hover:bg-cyber-cyan/20 transition-colors"
    >
        <img src={svgIcon} alt={name} class="w-5 h-5" />
    </div>
    <span class="text-sm font-bold tracking-widest uppercase">{name}</span>
</div>
