---
import { Image } from "astro:assets";

interface Props {
    name: string;
    svgIcon: string;
    id: string;
}

const { svgIcon, name, id } = Astro.props;
---

<div class="flex items-center gap-3 group">
    <div
        class="p-2 bg-cyber-cyan/10 rounded-lg group-hover:bg-cyber-cyan/20 transition-colors"
    >
        <Image
            loading="lazy"
            src={svgIcon}
            alt={name}
            id={id}
            class="w-5 h-5"
            width={128}
            height={128}
        />
    </div>
    <span class="text-sm font-bold tracking-widest uppercase select-none"
        >{name}</span
    >
</div>
